/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo Section */
.nav-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.nav-logo h1 {
    border-radius: 3%;
    color: #16C47F;
    padding: 5px;
    transition: transform 0.3s ease;
    border: 1px solid #16C47F;
}

.nav-logo img:hover {
    transform: scale(1.1);
}

/* .nav-logo p {
    font-size: 4px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
} */

/* Navbar Menu */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 60px;
    margin: 0;
}

.nav-menu li {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-menu li:hover {
    transform: translateY(-3px);
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #2F3020;
}

/* Underline Animation */
.nav-menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-menu a:hover::after {
    width: 100%;
}

/* Active Link Styling */
.active-link {
    color: #2F3020;
    font-weight: bold;
}