/* .projects-container {
    height: 100vh;
    width: 100%;
}

.projects-container h2 {
    display: flex;
    justify-self: center;
    margin-top: 50px;
}


.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 2px #16C47F;
    overflow: hidden;
    width: 300px;
    margin: 16px;
    margin-top: -190px;
    background-color: #fff;
}

.projects-card-container {
    display: flex;
    padding: 80px;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.static-card-image {
    width: 100%;
    height: auto;
}

.static-card-content {
    padding: 16px;
}

.static-card-content a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.static-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.static-card-title a {
    padding-left: 50px;
}

.static-card-description {
    font-size: 1rem;
    color: #555;
} */

/* @media(max-width: 1245px){
    .projects-card-container {
        display:grid ;
        grid-template-columns: repeat(3, 200px);
        margin-left: -120px;
        margin-top: -60px;
    }
    .projects-container {
        height: 200vh;
    }
    
}

@media(max-width: 991px){
    .projects-card-container {
        display:grid ;
        grid-template-columns: repeat(3, 200px);
        margin-left: -120px;
        margin-top: -60px;
        gap: 20px;
        row-gap: 0px;
    }
    .projects-container {
        height: 190vh;
    }
    .project-card {
        width: 270px;
        height: 320px;
    }

    .static-card-title{
        font-size: 1rem;
    }
    .static-card-content a{
        font-size: 15px;
    }
    .static-card-description{
        font-size: 12px;
    }
    
}

@media(max-width: 871px){
    .projects-card-container {
        display:grid ;
        grid-template-columns: repeat(3, 160px);
        margin-left: -120px;
        margin-top: -60px;
    }
    .projects-container {
        height: 150vh;
    }
    .project-card {
        width: 250px;
        height: 300px;
    }

    .static-card-title{
        font-size: 1rem;
    }
    .static-card-content a{
        font-size: 15px;
    }
    .static-card-description{
        font-size: 12px;
    }
    
}

@media(max-width: 807px){
    .projects-card-container {
        display:grid ;
        grid-template-columns: repeat(3, 160px);
        margin-left: -70px;
        margin-top: -60px;
    }
    .projects-container {
        height: 150vh;
    }
    .project-card {
        width: 200px;
        height: 250px;
    }

    .static-card-title{
        font-size: 0.6rem;
    }
    .static-card-content a{
        font-size: 12px;
    }
    .static-card-description{
        font-size: 10px;
    }
    
} */

/* @media(max-width: 706px){
    .projects-card-container {
        gap:50px;
    }
    
}

@media(max-width: 660px){
    .projects-card-container {
        margin-left: -80px;
    }
    
}

@media(max-width: 646px){
    .project-card {
        width: 180px;
        height: 230px;
    }
    .static-card-title{
        font-size: 0.5rem;
    }
    .static-card-content a{
        font-size: 10px;
    }
    .static-card-description{
        font-size: 8px;
    }
    
}

@media(max-width: 633px){
    .projects-card-container {
        gap:15px;
    }
    
} */

/* @media(max-width: 623px){
    .projects-card-container {
        gap:30px;
        margin-left: -70px;
    }
    
}
@media(max-width: 607px){
    .projects-card-container {
        gap:25px;
        margin-left: -65px;
    }  
}
@media(max-width: 603px){
    .projects-card-container {
        gap:25px;
        margin-left: -70px;
    }  
}
@media(max-width: 594px){
    .projects-card-container {
        gap:25px;
        margin-left: -80px;
    }  
}
@media(max-width: 580px){
    .projects-card-container {
        gap:25px;
        margin-left: -90px;
    }  
}

@media(max-width: 561px){
    .projects-card-container {
        gap:15px;
        margin-left: -80px;
    }
    .project-card {
        width: 150px;
        height: 200px;
    }
    .static-card-title{
        font-size: 0.4rem;
    }
    .static-card-content a{
        font-size: 7px;
        padding-left: 20px;
    }
    .static-card-description{
        font-size: 7px;
    }
}

@media(max-width: 526px){
    .projects-card-container {
        gap:10px;
        margin-left: -80px;
    }
}

@media(max-width: 518px){
    .projects-card-container {
        gap:2px;
        margin-left: -80px;
    }
}

@media(max-width: 500px){
    .projects-card-container {
        display:grid ;
        grid-template-columns: repeat(2, 200px);
        gap:30px;
    }
    .project-card {
        width: 220px;
        height: 250px;
    }
    .static-card-title{
        font-size: 0.4rem;
    }
    .static-card-content a{
        font-size: 7px;
        padding-left: 20px;
    }
    .static-card-description{
        font-size: 7px;
    }
    .projects-container {
        height: 170vh;
    }
}

@media(max-width: 481px){
    .project-card {
        width: 200px;
    }
}

@media(max-width: 462px){
    .projects-card-container {
        gap:15px;
        margin-left: -80px;
    }
}

@media(max-width: 443px){
    .projects-card-container {
        gap:5px;
        margin-left: -80px;
    }
}

@media(max-width: 429px){
    .projects-card-container {
        display:grid ;
        grid-template-columns: repeat(2, 150px);
        gap:10px;
        margin-left: -40px;
    }
    .project-card {
        width: 150px;
        height: 180px;
    }
    .static-card-title{
        font-size: 0.3rem;
    }
    .static-card-content a{
        font-size: 5px;
        padding-left: 20px;
    }
    .static-card-description{
        font-size: 5px;
    }
    .projects-container {
        height: 170vh;
    }
}

@media(max-width: 411px){
    .projects-card-container {
        margin-left: -50px;
    }   
}

@media(max-width: 382px){
    .projects-card-container {
        margin-left: -70px;
    }   
}

@media(max-width: 360px){
    .projects-card-container {
        margin-left: -80px;
    }   
}

@media(max-width: 340px){
    .projects-card-container {
        margin-left: -90px;
    }   
}

@media(max-width: 320px){
    .projects-card-container {
        margin-left: -70px;
        gap: 0px;
    }
    .project-card {
        width: 120px;
        height: 150px;
    }
    .static-card-title{
        font-size: 0.4rem;
        margin-top: -15px;
    }
    .static-card-content a{
        font-size: 7px;
        padding-left: 10px;
    }
    .static-card-description{
        font-size: 6px;
        margin-top: -6px;
    }
    .projects-container {
        height: 170vh;
    }  
}

@media(max-width: 315px){
    .projects-card-container {
        margin-left: -80px;
        gap: 0px;
    }
}

@media(max-width: 300px){
    .projects-card-container {
        margin-left: -85px;
        gap: 0px;
    }
}

@media(max-width: 290px){
    .projects-card-container {
        margin-left: -65px;
        gap: -10px;
    }
    .project-card {
        width: 100px;
        height: 120px;
    }
    .projects-card-container {
        grid-template-columns: repeat(2, 120px);
        gap:-20px;
    }
}
@media(max-width: 275px){
    .projects-card-container {
        margin-left: -75px;
        gap: -10px;
    }
}

@media(max-width: 260px){
    .projects-card-container {
        margin-left: -85px;
        gap: -10px;
    }
}

@media(max-width: 242px){
    .projects-card-container {
        margin-left: -88px;
        gap: 0px;
    }
}

@media(max-width: 235px){
    .projects-card-container {
        margin-left: -65px;
        gap: 0px;
    }
    .project-card {
        width: 80px;
        height: 100px;
    }
    .projects-card-container {
        grid-template-columns: repeat(2, 90px);
        gap:-20px;
    }
}

@media(max-width: 221px){
    .projects-card-container {
        margin-left: -75px;
    }
}

@media(max-width: 205px){
    .projects-card-container {
        margin-left: -85px;
    }

    .projects-container h2{
        font-size: 10px;
    }
}

@media(max-width: 189px){
    .projects-card-container {
        margin-left: -90px;
    }
}

@media(max-width: 180px){
    .projects-card-container {
        margin-left: -82px;
    }
    .projects-card-container {
        grid-template-columns: repeat(1, 150px);
    }
    .project-card {
        width: 150px;
        height: 160px;
    }
}

@media(max-width: 173px){
    .projects-card-container {
        margin-left: -88px;
    }
}

@media(max-width: 164px){
    .projects-card-container {
        margin-left: -78px;
    }
    .project-card {
        width: 130px;
        height: 150px;
    }
} */


.projects-container {
    height: auto;
    width: 100%;
    padding: 50px 20px;
}

.projects-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* StaticCard.css */
.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 2px #16C47F;
    overflow: hidden;
    width: 270px;
    background-color: #fff;
    padding: 16px;
    text-align: center;
}



/* Responsive Grid */
.projects-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.static-card-image {
    width: 100%;
    height: auto;
}

.static-card-content {
    padding: 16px;
}

.static-card-content a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.static-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.static-card-description {
    font-size: 1rem;
    color: #555;
}

@media (max-width: 874px) {
    .projects-card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }

    .project-card {
        width: 250px;
    }
}

@media (max-width: 844px) {
    .project-card {
        width: 230px;
    }
}

@media (max-width: 810px) {
    .project-card {
        width: 340px;
    }
}

/* Responsive Typography */
@media (max-width: 768px) {
    .static-card-title {
        font-size: 1rem;
    }

    .static-card-content a {
        font-size: 15px;
    }

    .static-card-description {
        font-size: 12px;
    }

    .project-card {
        width: 300px;
    }
}

@media (max-width: 679px) {
    .project-card {
        width: 260px;
    }
}

@media (max-width: 598px) {
    .project-card {
        width: 240px;
    }
}

@media (max-width: 560px) {
    .project-card {
        width: 200px;
    }

    .projects-card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .static-card-title{
        font-size: 0.7rem;
    }
    .static-card-content a{
        font-size: 11px;
    }

    .static-card-description{
        font-size: 10px;
    }

    .projects-container h2{
        font-size: 16px;
        padding-top: 20px;
    }
}

@media (max-width: 480px) {
    .projects-card-container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 10px;
    }

    .project-card {
        width: 100%;
    }

    .projects-container h2{
        font-size: 14px;
        padding-top: 20px;
    }
}

@media (max-width: 197px) {
    .project-card {
        width: 90%;
        margin-left: 10px;
    }
}

@media (max-width: 176px) {
    .project-card {
        width: 80%;
        margin-left: 20px;
    }
}