.projects-container {
    height: 130vh;
    width: 100%;
}

.projects-container h2 {
    display: flex;
    justify-self: center;
    padding-top: 25px;
}

/* StaticCard.css */
.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 4px 4px 6px #16C47F;
    overflow: hidden;
    width: 300px;
    margin: 16px;
    background-color: #fff;
}

.projects-card-container {
    display: flex;
    background-color: aquamarine;
    padding: 80px;
    justify-content: space-around;
    align-items: center;
}

.static-card-image {
    width: 100%;
    height: auto;
}

.static-card-content {
    padding: 16px;
}

.static-card-content a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.static-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.static-card-title a {
    padding-left: 50px;
}

.static-card-description {
    font-size: 1rem;
    color: #555;
}
