.projects-container {
    height: 130vh;
    width: 100%;
    /* background: red; */
}

.projects-container h2{
    /* padding-left: 50px; */
    display: flex;
    justify-self: center;
    /* background-color: #555; */
    padding-top: 25px;
}

/* StaticCard.css */
.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    /* box-shadow: 2px 2px 4px rgba(25, 50, 55, 1); */
    box-shadow: 4px 4px 6px #16C47F;
    overflow: hidden;
    width: 300px;
    margin: 16px;
    background-color: #fff;
}

.projects-card-container{
    display: flex;
    /* flex-wrap: wrap; */
    /* grid-template-columns: repeat(3, 350px); */
    background-color: aquamarine;
    /* row-gap: 10px; */
    /* column-gap: 30px; */
    padding: 80px;
    /* padding-top: 50px; */
    /* margin-left: 50px; */
    justify-content:space-around;
    align-items: center;
}

.static-card-image {
    width: 100%;
    height: auto;
}

.static-card-content {
    padding: 16px;
}

.static-card-content a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.static-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.static-card-title a{
    padding-left: 50px;
}

.static-card-description {
    font-size: 1rem;
    color: #555;
}