.footer-container {
    height: 20vh;
}

/* Footer Styling */
.footer {
    background-color: #333;
    /* background-color: #FFD65A; */
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    display: inline-block;
    margin: 0 15px;
}

.footer-links ul li a {
    /* color: #fff; */
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #16C47F;
}

/* Footer Social Media Icons */
.footer-socials {
    margin-bottom: 20px;
}

.footer-socials a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-socials a:hover {
    color: #16C47F;
}

/* Footer Copyright */
.footer-copyright p {
    font-size: 0.9rem;
    color: #bbb;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .footer-links ul li {
        display: block;
        margin: 10px 0;
    }

    .footer-socials a {
        font-size: 1.2rem;
    }
}