* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.about-sec {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
    /* justify-content: center; */
    /* Center the about section horizontally */
    align-items: center;
    gap: 200px;
    /* padding-left: 100px; */
}

.about-header {
    width: 30%;
    /* max-width: 600px; */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.about-header h4 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: justify;
    hyphens: auto;
}

.skills-header {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 15px;
    /* text-align: center; */
    width: 100%;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* Dynamically adjusts columns */
    gap: 20px;

    max-width: 800px;
    width: 100%;
    height: 40vh;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.skill-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16C47F;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    max-width: 150px;
    max-height: 150px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.skill-card h3 {
    font-size: 16px;
    font-weight: 700;
    color: #090909;
    text-align: center;
}

/* Responsive Styles */

@media (max-width: 1250px) {

    .skills {
        max-width: 600px;
        height: 60vh;
    }

    .about-sec {
        gap: 110px;
    }

    .about-header {
        width: 40%;
    }

    .skill-card h3 {
        font-size: 14px;
    }

    .skills-header {
        margin-top: -70px;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .about-header h4 {
        font-size: 17px;
    }

    .skill-card{
        justify-self: center;
        align-self: center;
    }
}

@media (max-width: 1224px) {

    .skills {
        max-width: 500px;
    }

    .about-sec {
        gap: 70px;
    }

    .skill-card h3 {
        font-size: 12px;
    }

    .skills-header {
        margin-top: -30px;
        font-size: 1.5rem;
    }

    .about-header h4 {
        font-size: 14px;
    }

}


@media (max-width: 995px) {
    .skills {
        max-width: 450px;
    }

    .about-sec {
        gap: 50px;
    }
}

@media (max-width: 875px) {
    .skills {
        max-width: 400px;
        height: 50vh;
    }

    .skill-card {
        height: 80px;
        width: 80px;
    }

    .about-header h4 {
        font-size: 12px;
    }
    .skill-card h3 {
        font-size: 10px;
    }
    .skills-header {
        font-size: 20px;
    }


}

@media (max-width: 790px) {
    .skills {
        max-width: 350px;
        height: 50vh;
        gap:10px;
    }

    .skill-card {
        height: 60px;
        width: 60px;
        justify-self: center;
        align-self: center;
    }

    .about-header h4 {
        font-size: 12px;
    }
    .skill-card h3 {
        font-size: 10px;
    }
    .skills-header {
        font-size: 20px;
    }


}

@media (max-width: 708px) {
    .skills {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        max-width: 300px;
        height:40vh;
    }

    .skill-card{
        height: 50px;
        width: 50px;
    }

    .about-header h4 {
        font-size: 10px;
    }
    .skill-card h3 {
        font-size: 8px;
    }
    .skills-header {
        font-size: 20px;
    }
}

@media (max-width: 624px) {
    .skills {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        height: 30vh;
        max-width: 300px;
    }

    .about-sec {
        gap: 40px;
    }

    .about-header h4 {
        font-size: 7px;
    }

    .skills-header {
        margin-top: -5px;
        font-size: 14px;
    }
}

@media (max-width: 608px) {
    .skills {
        height: 30vh;
        max-width: 250px;
    }
    .skill-card{
        height: 35px;
        width: 35px;
    }

    .about-sec {
        gap: 40px;
    }

    .about-header h4 {
        font-size: 7px;
    }

    .skill-card h3{
        font-size: 5px;
    }

    .skills-header {
        margin-top: -5px;
        font-size: 14px;
    }
}

@media (max-width: 525px) {
    .skills {
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        height: 30vh;
        max-width: 250px;
    }
    .skill-card{
        height: 35px;
        width: 35px;
    }

    .about-sec {
        gap: 25px;
    }

    .skill-card h3{
        font-size: 5px;
    }

    .skills-header {
        margin-top: -15px;
        font-size: 12px;
    }
}

@media (max-width: 525px) {
    .about-sec {
        display: flex;
        flex-direction: column;
    }
    .about-header{
        width: 100%;
    }
    .skills {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        height: 30vh;
        max-width: 500px;
    }

    .skill-card{
        height: 50px;
        width: 50px;
    }

    .about-sec {
        gap: 10px;
    }

    .skill-card h3{
        font-size: 8px;
    }
}

@media (max-width: 485px) {

    .skills {
        grid-template-columns: repeat(4, minmax(50px, 1fr));
    }

    .skill-card{
        height: 50px;
        width: 50px;
    }

    .about-sec {
        gap: 10px;
    }

    .skill-card h3{
        font-size: 8px;
    }
}

@media (max-width: 485px) {

   .about-sec{
    padding: 30px;
   }

}

@media (max-width: 485px) {

    .skills {
        grid-template-columns: repeat(4, minmax(50px, 1fr));
    }

    .skill-card{
        height: 50px;
        width: 50px;
    }

    .about-sec {
        gap: 10px;
    }

    .skill-card h3{
        font-size: 8px;
    }
}

@media (max-width: 280px) {

    .about-sec{
        padding:20px;
    }
}

@media (max-width: 313px) {
    .skills{
        grid-template-columns: repeat(4, minmax(30px, 1fr));
    }

    .skill-card{
        height: 40px;
        width: 40px;
    }

    .about-sec {
        gap: 5px;
    }

    .skill-card h3{
        font-size: 6px;
    }
}

@media (max-width: 215px) {
    .skills{
        grid-template-columns: repeat(3, minmax(30px, 1fr));
    }

    .skill-card{
        height: 35px;
        width: 35px;
    }

    .about-sec {
        gap: 4px;
    }

    .skill-card h3{
        font-size: 5px;
    }
}

@media (max-width: 174px) {
    .skills{
        grid-template-columns: repeat(2, minmax(30px, 1fr));
    }

    .skill-card{
        height: 30px;
        width: 30px;
    }

    .about-sec {
        gap: 4px;
    }

    .skill-card h3{
        font-size: 5px;
    }
}


